#container{
  width:609px;
  margin: 0 auto;
}

#grid{
  border:1px solid black;
  border-collapse: collapse;
  margin-top: 50px;
}

#grid td{
  font-size:170px;
  font-family:sans-serif;
  text-align:center;
  width: 200px;
  height: 200px;
  border:1px solid black;
}

#grid td:hover{
  background-color: #ebebeb;
}

#startGame{
  padding: 10px;
  width: 100px;
}

#message{
  color:blue;
  font-size:25px;
  font-weight:bold;
}

.X{
  color: red;
}

.O{
  color:green;
}
